lib/blueprints/schedule-blueprint/state-machines/create-scheduled-task.json
{
  "Comment": "Set up a Scheduled State Machine",
  "name": "Set up a Scheduled State Machine",
  "version": "1.0",
  "categories": [
    "schedule"
  ],
  "instigators": [
    "user"
  ],
  "instigatorGroup": "form",
  "StartAt": "GetStateMachines",
  "States": {
    "GetStateMachines": {
      "Type": "Task",
      "Resource": "function:schedule_getAvailableStateMachines",
      "ResultPath": "$",
      "Next": "DefaultInput"
    },
    "DefaultInput": {
      "Type": "Pass",
      "ResultSelector": {
        "inputStr": "{}"
      },
      "Next": "View"
    },
    "View": {
      "Type": "Task",
      "Resource": "module:awaitingHumanInput",
      "ResourceConfig": {
        "uiType": "app",
        "uiName": "schedule_createScheduledTask",
        "dataPath": "$"
      },
      "Next": "GenerateKey"
    },
    "GenerateKey": {
      "Type": "Task",
      "InputPath": "$.name",
      "Resource": "function:schedule_generateKey",
      "ResultPath": "$",
      "Next": "CreateScheduledTask"
    },
    "CreateScheduledTask": {
      "Type": "Task",
      "Parameters": {
        "key.$": "$.key",
        "scheduleType.$": "$.scheduleType",
        "datetime.$": "$.datetime",
        "interval.$": "$.interval",
        "stateMachineName.$": "$.stateMachineName",
        "input.$": "$.inputStr"
      },
      "Resource": "module:createScheduledTask",
      "End": true
    }
  },
  "restrictions": [
    {
      "roleId": "schedule_scheduleAdmin",
      "allows": [
        "*"
      ]
    }
  ]
}
