lib/blueprints/schedule-blueprint/state-machines/modify-scheduled-task.json
{
  "Comment": "Modify a Scheduled State Machine",
  "name": "Modify a Scheduled State Machine",
  "version": "1.0",
  "categories": [
    "schedule"
  ],
  "StartAt": "SetAsEditing",
  "States": {
    "SetAsEditing": {
      "Type": "Pass",
      "Result": {
        "editing": true
      },
      "ResultPath": "$",
      "Next": "FindTask"
    },
    "FindTask": {
      "Type": "Task",
      "InputPath": "$.key",
      "Resource": "module:findingById",
      "ResourceConfig": {
        "modelId": "schedule_task"
      },
      "ResultPath": "$",
      "Next": "GetStateMachines"
    },
    "GetStateMachines": {
      "Type": "Task",
      "Resource": "function:schedule_getAvailableStateMachines",
      "ResultPath": "$",
      "Next": "View"
    },
    "View": {
      "Type": "Task",
      "Resource": "module:awaitingHumanInput",
      "ResourceConfig": {
        "uiType": "app",
        "uiName": "schedule_createScheduledTask",
        "dataPath": "$"
      },
      "Next": "UpdateScheduledTask"
    },
    "UpdateScheduledTask": {
      "Type": "Task",
      "Parameters": {
        "key.$": "$.key",
        "scheduleType.$": "$.scheduleType",
        "datetime.$": "$.datetime",
        "interval.$": "$.interval"
      },
      "Resource": "module:updateScheduledTask",
      "Next": "UpdateScheduledStateMachineConfig"
    },
    "UpdateScheduledStateMachineConfig": {
      "Type": "Task",
      "Parameters": {
        "key.$": "$.key",
        "stateMachineName.$": "$.stateMachineName",
        "input.$": "$.inputStr"
      },
      "Resource": "module:updateScheduledStateMachineConfig",
      "End": true
    }
  },
  "restrictions": [
    {
      "roleId": "schedule_scheduleAdmin",
      "allows": [
        "*"
      ]
    }
  ]
}
