lib/blueprints/schedule-blueprint/state-machines/update-scheduled-task.json
{
  "Comment": "Update Scheduled State Machine",
  "name": "Update Scheduled State Machine",
  "version": "1.0",
  "categories": [
    "schedule"
  ],
  "StartAt": "FindTask",
  "States": {
    "FindTask": {
      "Type": "Task",
      "InputPath": "$.key",
      "Resource": "module:findingById",
      "ResourceConfig": {
        "modelId": "schedule_task"
      },
      "ResultPath": "$",
      "Next": "View"
    },
    "View": {
      "Type": "Task",
      "Resource": "module:awaitingHumanInput",
      "ResourceConfig": {
        "uiType": "app",
        "uiName": "schedule_updateScheduledTask",
        "dataPath": "$"
      },
      "Next": "UpdateScheduledTask"
    },
    "UpdateScheduledTask": {
      "Type": "Task",
      "Parameters": {
        "key.$": "$.key",
        "scheduleType.$": "$.scheduleType",
        "datetime.$": "$.datetime",
        "interval.$": "$.interval"
      },
      "Resource": "module:updateScheduledTask",
      "End": true
    }
  },
  "restrictions": [
    {
      "roleId": "schedule_scheduleAdmin",
      "allows": [
        "*"
      ]
    }
  ]
}
