lib/blueprints/schedule-blueprint/state-machines/update-state-machine-config.json
{
  "Comment": "Update Scheduled State Machine",
  "name": "Update Scheduled State Machine",
  "version": "1.0",
  "categories": [
    "schedule"
  ],
  "StartAt": "FindTask",
  "States": {
    "FindTask": {
      "Type": "Task",
      "InputPath": "$.key",
      "Resource": "module:findingById",
      "ResourceConfig": {
        "modelId": "schedule_task"
      },
      "ResultPath": "$",
      "Next": "GetStateMachines"
    },
    "GetStateMachines": {
      "Type": "Task",
      "Resource": "function:schedule_getAvailableStateMachines",
      "ResultPath": "$",
      "Next": "StringifyInput"
    },
    "StringifyInput": {
      "Type": "Pass",
      "ResultSelector": {
        "inputStr.$": "States.JsonToString($.input)"
      },
      "Next": "View"
    },
    "View": {
      "Type": "Task",
      "Resource": "module:awaitingHumanInput",
      "ResourceConfig": {
        "uiType": "app",
        "uiName": "schedule_updateStateMachineConfig",
        "dataPath": "$"
      },
      "Next": "UpdateScheduledStateMachineConfig"
    },
    "UpdateScheduledStateMachineConfig": {
      "Type": "Task",
      "Parameters": {
        "key.$": "$.key",
        "stateMachineName.$": "$.stateMachineName",
        "input.$": "$.inputStr"
      },
      "Resource": "module:updateScheduledStateMachineConfig",
      "End": true
    }
  },
  "restrictions": [
    {
      "roleId": "schedule_scheduleAdmin",
      "allows": [
        "*"
      ]
    }
  ]
}
